* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  padding-top: 4rem;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
}

#main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  #main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
  }
}

#header-name {
  margin-bottom: 20px;
}

#header-info {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

#header-text {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

#header-image img {
  vertical-align: middle;
  width: 133.33px;
  height: 100px;
}

@media (min-width: 768px) {
  #header-image img {
    vertical-align: middle;
    width: 266.67px;
    height: 200px;
  }
}

#coursework-main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects-project_article {
  border: 1px solid black;
  border-radius: 5px;
}

.util-image_vertical_center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
