@media (max-width: 576px) {
  .base_lookup-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .base_lookup-input {
    width: 300px !important;
  }
}
