.course_card-main {
  transform: scale(1.0);
  transition: transform 500ms;
}

.course_card-main:hover {
  transform: scale(1.05);
}

.course_card-input_group {
  width: 120px;
  margin: auto;
}

.course_card-input {
  background-color: #F0F0F0 !important;
  color: black !important;
}

.course_card-more_info_button {
  background-color: darkorange !important;
  border-color: darkorange !important;
}

.copy_icon {
  padding-top: 10px;
}
