.course_card {
  transform: translateY(1.0) !important;
  transition: transform 500ms !important;
}

.course_card:hover {
  transform: scale(1.05) !important;
}

.more_info_button {
  background-color: darkorange !important;
  border-color: darkorange !important;
}
