.nav_menu-tab_item {
  color: white;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (max-width: 768px) {
  .nav_menu-tab_link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
  }
}

.nav_menu-tab_item .active {
  color: darkblue !important;
  background-color: white;
}

.nav_menu-tab_item .active:hover {
  color: darkblue !important;
  background-color: white;
}

.nav_menu-header {
  background-color: darkblue;
}

.nav_menu-title_label {
  color: white;
}

.nav_menu-tab_menu {
  width: 100%;
}

@media (max-width: 768px) {
  .nav_menu-tab_menu {
    width: 100%;
    border-bottom: 0px;
  }
}

.nav_menu-toggle_button {
  width: 100%;
  float: none;
  margin-right: 0;
  margin-left: 0;
}

.nav_menu-nav_bar {
  background-color: darkblue;
}
